@media (min-width: 640px) {
    .header-top {
        max-width: 1200px;
        margin: 0 auto;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: center;
        background-color: #000;
        margin-top: 0;
    }

    .navigation li {
        flex: 1;
        max-width: 200px;
    }

    /* Desktop Grid */
    .grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        margin: 20px auto;
    }

    .grid section:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: scale(1.02);
        transition: 0.3s;
    }

    /* Desktop List */
    .list section {
        display: grid;
        grid-template-columns: 2fr 1.5fr 1fr 1fr;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    .list section h3 {
        font-size: 1rem;
    }
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left; /* Contact stays left, Project stays right */
    }

    .footer-project {
        text-align: right;
    }

    .footer-social {
        flex-grow: 1; /* Pushes the left and right sides away */
    }
}