*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "en";
}
user agent stylesheet
:root {
    view-transition-name: root;
}
user agent stylesheet
html {
    display: block;
}
/*** Call to Action ***