@media (min-width: 768px) {
  .first-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Equal columns */
    gap: 20px;
    margin: 20px;
  }

  .second-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
  }

  .bannar-img {
    height: 300px; /* Taller banner for desktop */
  }
}