@media (min-width: 600px) {
  .bannar-img {
    width: 1000px;
    height: 200px;
  }

  .first-section {
    display: grid;
    grid-template-columns: 1fr 300px 300px;
    gap: 10px;
    
  }
.first-section div{
  border: 1px solid grey;
  }
  main h2 {
    background-color: black;
    color: white;
    text-align: center;
  }
}