/* Mobile Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.logo {
  width: 60px;
  border-radius: 50%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container span {
  color: white;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
}

header {
  background-color: var(--text-light);
  color: #000;
  font-weight: 700;
  padding: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❌";
}

.navigation {
  display: none;
  list-style: none;
  background-color: #000;
}

.navigation.open {
  display: block;
}

.navigation a {
  display: block;
  color: white;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}

.navigation a:hover {
  background-color: #444;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(56, 56, 56);
  padding: 10px;
}

#grid,
#list {
  background-color: rgb(10, 52, 10);
  color: white;
  border: none;
  padding: 9px 15px;
  border-radius: 10px;
  margin-left: 15px;
}

#grid:hover,
#list:hover {
  background-color: white;
  color: rgb(10, 52, 10);
  border: 1px solid #ccc;
  font-weight: 700;
}

#directory-container.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

#directory-container.grid section {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  background: #f9f9f9;
}

#directory-container.grid section img {
  max-width: 150px;
  height: auto;
}

/* List View Logic */
#directory-container.list {
  display: flex;
  flex-direction: column;
}

#directory-container.list section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

#directory-container.list section img {
  display: none;
  /* Hide images in list view */
}

#directory-container.list section:nth-child(even) {
  background-color: #eee;
}

.social-media {
  width: 40px;
  margin: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
}